.crearCompra{
    border: solid black 1px;
    background-color: rgb(225, 225, 233);
    border-radius: 4px;
    box-shadow: 5px 0px 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
  } 
