.navbarContent {
  justify-content: flex-end;
}

.NavLink {
  margin: 1px;
}

.navbarContent a {
  margin: 10px;
  text-decoration: none;
  color: black;
}

.CartWidget {
  align-items: center;
  margin: 10px;
  }

.CartWidget :hover{
  cursor: pointer;
  transform: scale(1.1);
  transition:2ms
}